@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap");

:root {
  --c-light: #fff;
  --c-gray: #f8f8fb;
  --c-dark: #0f0000;

  --c-primary: #ff7814;
  --c-primary-hover: #ff9b4d;
  --c-secondary: #393f4d;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-semibold: 600;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: var(--c-light);
  color: var(--c-dark);
  font-family: "Rubik", sans-serif;
  font-weight: var(--fw-regular);
  position: relative;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.primary {
  color: var(--c-primary);
}

.secondary {
  color: var(--c-secondary);
}

.main {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem;
}

.main__title {
  font-weight: var(--fw-regular);
  text-align: center;
}
