@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap");

:root {
  --c-light: #fff;
  --c-gray: #c1c1c1;
  --c-dark: #0f0000;

  --c-primary: #ff7814;
  --c-primary-dark: #e56a0d;
  --c-primary-hover: #ff9b4d;
  --c-secondary: #393f4d;
  --c-secondary-light: #76819b;
  --c-success: #8bff89;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-semibold: 600;

  --rounded: 4px;

  --gradient: linear-gradient(
      45deg,
      rgba(255, 122, 20, 0.4),
      rgba(139, 255, 137, 0.4)
    ),
    url("./small-car.jpg");
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: var(--c-light);
  color: var(--c-dark);
  font-family: "Rubik", sans-serif;
  font-weight: var(--fw-regular);
  position: relative;
}

.primary {
  color: var(--c-primary);
}

.secondary {
  color: var(--c-secondary);
}

.main {
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden;
}

.main__title {
  padding: 4rem 2rem;
  font-weight: var(--fw-regular);
  text-align: center;
  flex-basis: 100%;
  border-bottom: 2px solid var(--c-secondary-light);
}

/* form */
.form {
  flex-basis: 100%;
  padding: 2rem;
  display: grid;
  grid-gap: 3rem;
  color: var(--c-secondary-light);
  background-color: var(--c-light);
  position: relative;
  overflow: hidden;
}

.form::after,
.form::before {
  content: "";
  display: block;
  border-radius: 100%;
  position: absolute;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.form::after{
  width: 90rem;
  height: 90rem;
  background-color: var(--c-primary);
  opacity: 0.1;
  left: 0;
  top: 0;
  animation: grow 10s ease-in-out infinite alternate;
}

.form::before {
  width: 40rem;
  height: 40rem;
  background-color: var(--c-success);
  opacity: 0.2;
  right: -50%;
  bottom: -50%;
  animation: grow 2s ease-in-out infinite alternate;
}

.form__box {
  display: grid;
  position: relative;
  z-index: 2;
}

.form__label {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.form__required {
  font-size: 1.6rem;
  color: var(--c-primary);
}

.form__input,
.form__select,
.form__textarea {
  padding: 1rem;
  border-radius: var(--rounded);
  border: 2px solid var(--c-secondary-light);
  color: inherit;
  font-family: inherit;
  outline: none;
  background-color: var(--c-light);
}

.form__textarea {
  resize: none;
  height: 10rem;
  line-height: 2rem;
}

.form__textarea:focus,
.form__select:focus {
  border: 2px solid var(--c-primary-hover);
}

.form__counter,
.form__messages {
  position: absolute;
  font-size: 1.2rem;
  bottom: -2rem;
}

.form__counter {
  right: 0.5rem;
}

.form__messages {
  left: 0;
  color: var(--c-primary);
}

.form__wrapper-radio {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.form__input-radio {
  cursor: pointer;
  width: 1.6rem;
  accent-color: var(--c-primary-dark);
}

.form__input-radio:checked + .form__text-radio {
  color: var(--c-primary);
}

.form__input--submit {
  background-color: var(--c-primary);
  color: var(--c-dark);
  font-weight: var(--fw-semibold);
  border-color: var(--c-dark);
  cursor: pointer;
  transition: all 0.2s;
}

.form__input--submit:hover {
  background-color: var(--c-primary-hover);
  color: var(--c-secondary-light);
  border-color: var(--c-secondary-light);
}

/* success section */
.success {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-image: var(--gradient);
  background-size: cover;
  background-position: center;
  place-content: center;
  display: none;
}

.success__box {
  opacity: 0.95;
  background-color: var(--c-success);
  border-radius: var(--rounded);
  width: 20rem;
  height: 20rem;
  color: var(--c-secondary);
  display: grid;
  place-content: center;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  animation: show 1s ease-in-out infinite;
}

.success__title {
  text-transform: uppercase;
}

/* special class */
.disabled {
  border-color: var(--c-gray);
}

.visible{
  display: grid;
}

.hidden{
  display: none;
}

/* keyframes */
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(2deg);
  }
}

@keyframes grow {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

/* media queries */
@media screen and (min-width: 768px) {
  .main {
    min-height: 100vh;
    display: flex;
    padding: 0;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    background-image: var(--gradient);
    background-size: cover;
    background-position: -23rem;
  }
  .main__title {
    border-bottom: none;
    border-right: 2px solid var(--c-secondary-light);
    padding: 2rem;
    color: var(--c-light);
    font-size: 6rem;
    font-weight: var(--fw-semibold);
    display: block;
    width: 30rem;
    text-shadow: 0 1rem 2rem var(--c-light);
  }
}
